<div class="my-gal-card" [ngClass]="{liked:buttonText==='already Liked'}">
  <p>{{ 344.36 |currency:'EUR'}}</p>
<h2>{{mygal.title | uppercase }}</h2>
<img [src]="mygal.imageUrl" [alt]="mygal.title">
<p>{{mygal.description}}</p>
<p *ngIf="mygal.location">photo prise à {{mygal.location}}</p>
<p>Mise en Ligne le : {{mygal.createDate | date:'longDate'}}</p>
<p>
  <button  (click)="onLike()">{{buttonText}}</button>
  <span [ngStyle]="{color:'rgb(0,'+mygal.like*10+',0)'}">🤌{{mygal.like}}</span>
</p>
</div>
